ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100px;
}

li {
    display: inline-block;
    color: #000;
    background-color: #f1f1f1;
    padding: 8px 8px 8px 8px;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

.btn:hover {
    cursor: pointer;
    color: black;
    background-color: #03BC00;
}


.c1 {
    display: inline-block;
    width: 10%;
    vertical-align: top;
}

.c2 {
    display: inline-block;
    width: 70%;
}

.c3 {
    display: inline-block;
    vertical-align: top;
}

#infoBox {
    width: 160px;
    height:160px;
    text-align: center;
    background-color: #f1f1f1;
    margin: 25px;
}

#craftingInfoBox {
    width: 160px;
    background-color: #f1f1f1;
    margin: 25px;
}

#combatInfoBox {
    position: absolute;
    left: 800px;
    top: 100px;
    background-color: #f1f1f1;
    margin: 10px;
    padding: 10px;
}

.tile {
    position: absolute;
    display: inline-block;
    height: 50px;
    width: 50px;
    border: 1px solid black;
    z-index: 1;
}

.ocean {
    background-color: cornflowerblue;
}

.beach {
    background-image: url("./images/beach.png");
}

.title {
    font-weight: bold;
    text-decoration: underline;
    display: inline-block;
}
.info {
    display: table-row-group;
}

.night {
    opacity: 1.0;
}

.day {
    opacity: .5;
}

.worldCharacter {
    z-index: 4;
    position: absolute;
    display: inline-block;
    height: 50px;
    width: 50px;
    z-index: 3;
    background-image: url("./images/worldCharacter.png");
}

.highlightTile {
    opacity: .5;
    z-index: 3;
    background-image: url("./images/highlightbeach.png") !important;
    
}

.highlightAttack {
    opacity: .5;
    z-index: 3;
    background-image: url("./images/attackbeach.png") !important;
}

.highlightMove {
    opacity: .5;
    z-index: 3;
    background-image: url("./images/highlightbeach.png") !important;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
}

tr:hover {
    background-color: lightyellow;
}

.floatOn {
    float: left;
}

.backpackIcon {
    height: 10px;
    width: 10px;
    background-image: url("./images/backpackicon.png");
}

.characterBox {
    padding: 8px;
    margin: 10px;
    float: left;
    width: 250px;
    border: 1px solid black;
}

.newGameMenu {
    padding: 8px;
    margin: 10px;
    float: left;
    width: 250px;
}

.enemy {
    z-index: 2;
}

.gel {
    background-image: url("./images/gel.png");
}

.bluejelly {
   background-image: url("./images/bluejelly.png"); 
}

.crab {
    background-image: url("./images/crab.png");
}

.btn {
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    background-color: #029700;
    color: white;
    border-radius: 25px;
}
.character {
    z-index: 4;
}

.menuDisabled {
    color: gray;
}

.rock {
    background-image: url("./images/transparent/transparentrock.png");
    z-index: 4;
}

.palmtree {
    background-image: url("./images/palmtree.png");
    z-index: 4;
}

.avatar1 {
    background-image: url("./images/avatar1.png");
}

.avatar2 {
    background-image: url("./images/avatar2.png");
}

.avatar3 {
    background-image: url("./images/avatar3.png");
}

.avatar4 {
    background-image: url("./images/avatar4.png");
}

.menuItem {
    display: inline-block;
    margin: 5px;
    height: 50px;
    width: 50px;
    border: 1px solid black;
    z-index: 1;
}
.xpContainer {
    height:1.5em;
    position:relative;
    text-align: center;
    width: 100px;
    background-color: white;
    border: 1px solid black;
}



#c4 {
    position: absolute;
    width: 500px;
    height: 150px;
    top: 665px;
    left: 250px;
    background-color: lightgray;
    overflow: scroll;
}

.armorSlot {
    display: inline-block;
    height: 50px;
    width: 50px;
    border: 1px solid black;
    margin: 8px;
    background-image: url("./images/armorslot.png");
}

.bootsSlot {
    display: inline-block;
    height: 50px;
    width: 50px;
    border: 1px solid black;
    margin: 8px;
    background-image: url("./images/bootslot.png");
}

.weaponSlot {
    display: inline-block;
    height: 50px;
    width: 50px;
    border: 1px solid black;
    margin: 8px;
    background-image: url("./images/weaponslot.png");
}

.dead {
    background-image: url("./images/dead.png");
}

#combatLogContainer {
    height: 150px;
}

.backdrop {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.baspica {
    background-image: url("./images/baspica.png");
}

.pearlshot {
    background-image: url("./images/pearlshot.png");
    position: absolute;
    display: inline-block;
    height: 50px;
    width: 50px;
    z-index: 9999;
}

#turnMenu {
    position: absolute;
    left: 250px;
    height: 60px;
    line-height: 60px;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.attribute {
    height: 50px;
}

#combatOptionMenu {
    position: absolute;
    width: 238px;
    left: 5px;
    top: 100px;
    background-color: lightgray;
}

.half {
    float: left;
    width: 50%;
}

.Arrowright {
    background-image: url("./images/rightArrow.png");
    position: absolute;
    display: inline-block;
    height: 50px;
    width: 50px;
    z-index: 9999;
}

.Arrowleft {
    background-image: url("./images/leftArrow.png");
    position: absolute;
    display: inline-block;
    height: 50px;
    width: 50px;
    z-index: 9999;
}

.Arrowup {
    background-image: url("./images/upArrow.png");
    position: absolute;
    display: inline-block;
    height: 50px;
    width: 50px;
    z-index: 9999;
}

.Arrowdown {
    background-image: url("./images/downArrow.png");
    position: absolute;
    display: inline-block;
    height: 50px;
    width: 50px;
    z-index: 9999;
}

.manacost {
    background-color: lightblue;
    color: white;
    border-radius: 50%;
    padding: 5px;
}

.disabled {
    background-color: gray !important;
    color: lightgray !important;
}

.grassland {
    background-color: lightgreen;
}

.forest {
    background-color: seagreen;
}

.mountain {
    background-color: saddlebrown;
}

.volcano {
    background-color: red;
}

.lair{
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 2;
}

.slimepits {
    background-image: url("./images/slimepits.png");
}