/*
    This is the Explore App CSS
    For Combat Maps the Dom Stack should look like:
    tile; index = 1
    hazards; index = 2
    characters & enemies; index = 3
    highlights; index = 4
    obstacles; index = 5
*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100px;
}

li {
    display: inline-block;
    color: #000;
    background-color: #f1f1f1;
    padding: 8px 8px 8px 8px;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

.btn:hover {
    cursor: pointer;
    color: black;
    background-color: #03BC00;
}

#overlandInfoBox {
    width: 160px;
    height:160px;
    text-align: center;
    background-color: #f1f1f1;
    margin: 25px;
}

#overlandMenuOptions {
    text-align: center;
    margin: 50px;
}

#craftingInfoBox {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 340px;
    background-color: lightgray;
    margin: 5px;
}

#craftOptionMenu {
    position: absolute;
    left: 1175px;
    top: 0px;
    width: 160px;
    background-color: lightgray;
    margin: 5px;
}

#craftItemArea {
    position: absolute;
    width: 820px;
    left: 350px;
    top: 0px;
    background-color: lightgray;
    margin: 5px;
}

.characterContainer {
    display: block;
    float: left;
    width: 160px;
    margin: 2px;
    border: 1px solid black;
}

#combatInfoBox {
    position: absolute;
    left: 800px;
    top: 100px;
    background-color: #f1f1f1;
    margin: 10px;
    padding: 10px;
}

.tile {
    position: absolute;
    display: inline-block;
    height: 50px;
    width: 50px;
    border: 1px solid black;
    z-index: 1;
}

.ocean {
    background-color: cornflowerblue;
}

.beach {
    background-image: url("./images/beach.png");
}

.title {
    font-weight: bold;
    text-decoration: underline;
    display: inline-block;
}
.info {
    display: table-row-group;
}

.night {
    opacity: 1.0;
}

.day {
    opacity: .5;
}

.worldCharacter {
    position: absolute;
    display: inline-block;
    height: 50px;
    width: 50px;
    z-index: 4;
    background-image: url("./images/worldCharacter.png");
}

.highlightTile {
    opacity: .5;
    z-index: 4;
    background-image: url("./images/highlightbeach.png") !important;
    
}

.beachAttack {
    opacity: .5;
    z-index: 4;
    background-image: url("./images/attackbeach.png") !important;
}

.beachMove {
    opacity: .5;
    z-index: 4;
    background-image: url("./images/highlightbeach.png") !important;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
}

tr:hover {
    background-color: lightyellow;
}

.floatOn {
    float: left;
}

.backpackIcon {
    height: 10px;
    width: 10px;
    background-image: url("./images/backpackicon.png");
}

.characterBox {
    padding: 8px;
    margin: 10px;
    float: left;
    width: 250px;
    border: 1px solid black;
}

.newGameMenu {
    float: left;
    padding: 8px;
    margin: 10px;
}

.enemy {
    z-index: 3;
}

.gel {
    background-image: url("./images/gel.png");
}

.bluejelly {
   background-image: url("./images/bluejelly.png"); 
}

.crab {
    background-image: url("./images/crab.png");
}

.btn {
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    background-color: #029700;
    color: white;
    border-radius: 25px;
}
.character {
    z-index: 3;
}

.menuDisabled {
    color: gray;
}

.rock {
    background-image: url("./images/transparentrock.png");
    z-index: 5;
}

.palmtree {
    background-image: url("./images/palmtree.png");
    z-index: 5;
}

.avatar1 {
    background-image: url("./images/avatar1.png");
}

.avatar2 {
    background-image: url("./images/avatar2.png");
}

.avatar3 {
    background-image: url("./images/avatar3.png");
}

.avatar4 {
    background-image: url("./images/avatar4.png");
}

.menuItem {
    display: inline-block;
    margin: 5px;
    height: 50px;
    width: 50px;
    border: 1px solid black;
    z-index: 1;
}
.xpContainer {
    height:1.5em;
    position:relative;
    text-align: center;
    width: 100px;
    margin: 8px;
    background-color: white;
    border: 1px solid black;
}



#c4 {
    position: absolute;
    width: 500px;
    height: 150px;
    top: 665px;
    left: 250px;
    background-color: lightgray;
    overflow: scroll;
}

.armorSlot {
    display: inline-block;
    height: 50px;
    width: 50px;
    border: 1px solid black;
    margin: 8px;
    background-image: url("./images/armorslot.png");
}

.bootsSlot {
    display: inline-block;
    height: 50px;
    width: 50px;
    border: 1px solid black;
    margin: 8px;
    background-image: url("./images/bootslot.png");
}

.equippedItemSlot {
    display: inline-block;
    height: 50px;
    width: 50px;
    border: 1px solid black;
    margin: 8px;
}

.weaponSlot {
    display: inline-block;
    height: 50px;
    width: 50px;
    border: 1px solid black;
    margin: 8px;
    background-image: url("./images/weaponslot.png");
}

.dead {
    background-image: url("./images/dead.png");
}

#combatLogContainer {
    height: 150px;
}

.backdrop {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.baspica {
    background-image: url("./images/baspica.png");
}

.pearlshot {
    background-image: url("./images/pearlshot.png");
    position: absolute;
    display: inline-block;
    height: 50px;
    width: 50px;
    z-index: 9999;
}

#turnMenu {
    position: absolute;
    left: 250px;
    height: 60px;
    line-height: 60px;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.attribute {
    height: 50px;
}

#combatOptionMenu {
    position: absolute;
    width: 238px;
    left: 5px;
    top: 100px;
    background-color: lightgray;
}

.half {
    float: left;
    width: 50%;
}

.Arrowright {
    background-image: url("./images/rightArrow.png");
    position: absolute;
    display: inline-block;
    height: 50px;
    width: 50px;
    z-index: 9999;
}

.Arrowleft {
    background-image: url("./images/leftArrow.png");
    position: absolute;
    display: inline-block;
    height: 50px;
    width: 50px;
    z-index: 9999;
}

.Arrowup {
    background-image: url("./images/upArrow.png");
    position: absolute;
    display: inline-block;
    height: 50px;
    width: 50px;
    z-index: 9999;
}

.Arrowdown {
    background-image: url("./images/downArrow.png");
    position: absolute;
    display: inline-block;
    height: 50px;
    width: 50px;
    z-index: 9999;
}

.manacost {
    background-color: lightblue;
    color: white;
    border-radius: 50%;
    padding: 5px;
}

.disabled {
    background-color: gray !important;
    color: lightgray !important;
}

.grassland {
    background-color: lightgreen;
}

.forest {
    background-color: seagreen;
}

.mountain {
    background-color: saddlebrown;
}

.volcano {
    background-color: red;
}

.lair{
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 3;
}

#slimepits {
    background-image: url("./images/slimepits.png");
}

.slimepits {
   background-image: url("./images/slimepitCombat.png"); 
}

.slimepitsMove {
    z-index: 4;
    background-image: url("./images/slimepitsMove.png")
}

.slimepitsAttack {
    z-index: 4;
    background-image: url("./images/slimepitsAttack.png")
}

.Energywavedown {
    background-image: url("./images/downEnergywave.png");
    position: absolute;
    display: inline-block;
    height: 50px;
    width: 50px;
    z-index: 9999;
}

.Energywaveup {
    background-image: url("./images/upEnergywave.png");
    position: absolute;
    display: inline-block;
    height: 50px;
    width: 50px;
    z-index: 9999;
}

.Energywaveleft {
    background-image: url("./images/leftEnergywave.png");
    position: absolute;
    display: inline-block;
    height: 50px;
    width: 50px;
    z-index: 9999;
}

.Energywaveright {
    background-image: url("./images/rightEnergywave.png");
    position: absolute;
    display: inline-block;
    height: 50px;
    width: 50px;
    z-index: 9999;
}

.Dartup {
    background-image: url("./images/upDart.png");
    position: absolute;
    display: inline-block;
    height: 50px;
    width: 50px;
    z-index: 9999;    
}

.Dartdown {
    background-image: url("./images/downDart.png");
    position: absolute;
    display: inline-block;
    height: 50px;
    width: 50px;
    z-index: 9999;    
}

.Dartleft {
    background-image: url("./images/leftDart.png");
    position: absolute;
    display: inline-block;
    height: 50px;
    width: 50px;
    z-index: 9999;    
}

.Dartright {
    background-image: url("./images/rightDart.png");
    position: absolute;
    display: inline-block;
    height: 50px;
    width: 50px;
    z-index: 9999;    
}

#overlandMenuArea {
    position: absolute;
    width: 210px;
    margin: 0 auto;
    left: 810px;
    top: 100px;
    background-color: lightgray;
    text-align: center;
}

.greenslime {
    background-image: url("./images/greenslime.png");
}

.pinkpudding {
    background-image: url("./images/pinkpudding.png");
}

.slimerock {
    background-image: url("./images/slimerock.png");
    z-index: 5;
}

.sandpit {
    background-image: url("./images/sandpit.png");
}

.sandpitMove {
    background-image: url("./images/sandpitMove.png");
}

.sandpitAttack {
    background-image: url("./images/sandpitAttack.png");
}

.slimepool {
    background-image: url("./images/slimepool.png");
}

.slimepoolAttack {
    z-index: 4;
    background-image: url("./images/slimepoolAttack.png");
}

.slimepoolMove {
    z-index: 4;
    background-image: url("./images/slimepoolMove.png");
}

.slimeblob {
    background-image: url("./images/slimeblob.png");
    position: absolute;
    display: inline-block;
    height: 50px;
    width: 50px;
    z-index: 9999;
}

.Fireblastleft {
    background-image: url("./images/leftFireblast.png");
    position: absolute;
    display: inline-block;
    height: 50px;
    width: 50px;
    z-index: 9999;
}

.Fireblastright {
    background-image: url("./images/rightFireblast.png");
    position: absolute;
    display: inline-block;
    height: 50px;
    width: 50px;
    z-index: 9999;
}

.Fireblastup {
    background-image: url("./images/upFireblast.png");
    position: absolute;
    display: inline-block;
    height: 50px;
    width: 50px;
    z-index: 9999;
}

.Fireblastdown {
    background-image: url("./images/downFireblast.png");
    position: absolute;
    display: inline-block;
    height: 50px;
    width: 50px;
    z-index: 9999;
}

#crabbycove {
    background-image: url("./images/crabbycove.png");
}

.crabbycove {
   background-image: url("./images/crabbycoveCombat.png"); 
}

.crabbycoveMove {
    z-index: 4;
    background-image: url("./images/crabbycoveMove.png")
}

.crabbycoveAttack {
    z-index: 4;
    background-image: url("./images/crabbycoveAttack.png")
}

.crabbyrock {
    background-image: url("./images/crabbyrock.png");
    z-index: 5;
}